
@{
    ViewBag.Title = "ViTri";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<link href="~/App_Themes/select2/css/select2.min.css" rel="stylesheet" />
<style>
    .select2-container--default {
        width: 58.333333% !important
    }

    #them-vi-tri .form-group > input {
        height: 30px;
        border-radius: 5px;
        padding-left: 8px !important;
    }

    #sua-vi-tri .form-group > input {
        height: 30px;
        border-radius: 5px;
        padding-left: 8px !important;
    }

    input[readonly] {
        background: #ccc
    }

    #tb-import-vitri input {
        height: 30px;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
    }
</style>
<main class="wrapper">
    <div class="container-fluid">
        <div class="wrap-table__button">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-button text-left">
                        <a href="javascript:;" class="btn btn-add inline" data-toggle="modal"
                           data-target="#them-vi-tri">
                            <img src="../App_Themes/assets/images/btn-add.png" alt=""
                                 class="inline">
                            <span class="inline">Thêm</span>
                        </a>
                        <a href="javascript:;" class="btn btn-fix vi-tri-btn-edit inline" data-toggle="modal"
                           data-target="#form-add-group-user">
                            <img src="../App_Themes/assets/images/btn-fix.png" alt=""
                                 class="inline"><span class="inline">Sửa</span>
                        </a>
                        <a href="javascript:;" class="btn btn-del vi-tri-btn-delete inline">
                            <img src="../App_Themes/assets/images/btn-del.png" alt=""
                                 class="inline"><span class="inline">Xóa</span>
                        </a>
                        <a href="javascript:;" class="btn btn-import vi-tri-refresh inline">
                            <img src="../App_Themes/assets/images/btn-import.png" alt=""
                                 class="inline"><span class="inline">Nạp</span>
                        </a>
                        <a href="javascript:;" class="btn btn-export vi-tri-btn-export inline">
                            <img src="../App_Themes/assets/images/btn-export.png" alt=""
                                 class="inline"><span class="inline">Xuất</span>
                        </a>
                        @*<a href="javascript:;" class="btn btn-export vi-tri-btn-import inline">
                                <img src="../App_Themes/assets/images/btn-import-2.png" alt=""
                                     class="inline"><span class="inline">Nhập</span>
                            </a>*@
                        <a href="#" class="btn btn-export
                                        inline" id="import-vitrimathang">
                            <img src="/App_Themes/assets/images/btn-import-2.png"
                                 alt="" class="inline"><span class="inline">Nhập</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-table__header">
            <div class="row">
                <div class="col-md-12">
                    <div hidden class="box-choose-time" id="date-vitri">
                        <p class="mr-2">Từ</p>
                        <input class="mr-2 datetimepicker date-only" name="chooseDate_From" data-date-format="mm/dd/yyyy">
                        <p class="mr-2">Đến</p>
                        <input class="mr-2 datetimepicker date-only" name="chooseDate_To" data-date-format="mm/dd/yyyy">

                        <button class="btn btn-trans" id="btn-search-vitri">
                            <img src="../App_Themes/assets/images/loading.png" alt="" class="inline">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-table__body">
            <div class="wrap-height-table">
                <table class="table display table-striped" style="width: 100%;"
                       id="table-vitri-mathang">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã hàng</th>
                            <th>Tên hàng</th>
                            <th>Vị trí KH</th>
                            <th>Vị trí CH</th>
                            <th>Vị trí DP</th>
                            <th>Vị trí 4</th>
                            <th>Ngày cập nhật</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</main>

@*<div class="modal fade default-popup " data-keyboard="false" data-backdrop="static" id="import-vi-tri"
         tabindex="-1"
         role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title title-popup" id="exampleModalLongTitle">
                        Vị trí mặt hàng
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="default-form">
                                    <div class="form-group">
                                        <a href="javascript:;" class="btn btn-success btn-import-vitri">Chọn file</a>
                                        <a href="/Upload/ExcelExample/vi-tri-mat-hang.xlsx" class="btn btn-export inline">
                                            <img src="../App_Themes/assets/images/paste-excel.png" alt=""
                                                 class="inline"><span class="inline">File nhập Mẫu</span>
                                        </a>
                                        <input type="file" style="display:none" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class=" hidden import-vitri-excel" />
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>*@
<!-- nhập vị trí mặt hàng file excel-->
<div class="modal fade default-popup popup-danh-sach-khach-hang"
     id="btn-nhap-vitrimathang" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">
                    Import vị trí mặt hàng file Excel
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body import-excel-nhapkho">
                <div class="container-fluid wrap-table-2 table-mat-hang p-0">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="wrap-height-table-2 bg-white p-2 mt-2 border">
                                <table class="table display table-striped" id="table-import-vitrimathang" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã hàng</th>
                                            <th>Vị trí KH</th>
                                            <th>Vị trí CH</th>
                                            <th>Vị trí DP</th>
                                            <th>Vị trí 4</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2 pl-0 sidebar-search">
                            <div class="box-border mt-4">
                                <p class="box-border__title bg-gray">Import Excel</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input type="file" id="FileUploadViTriMatHang" style="display: none" />
                                    <select name="" id="" class="col-10 h-100">
                                    </select>
                                    <button id="btnFileUploadViTriMatHang" class="btn btn-default ">
                                        <img src="/App_Themes/assets/images/paste-excel.png"
                                             alt="">
                                    </button>
                                </div>
                                <div class="list-button mt-2">
                                    @*<a id="btn-nap-file-excel" href="#" class="btn   btn-search d-block">
                                            <img src="/App_Themes/assets/images/loading.png" alt=""
                                                 class="inline"><span class="inline">
                                                Nạp lại từ
                                                Excel
                                            </span>
                                        </a>*@
                                    <a id="btn-create-file-excel" href="#" class="btn btn-search d-block">
                                        <img src="/App_Themes/assets/images/btn-export.png" alt=""
                                             class="inline"><span class="inline">
                                            Tạo mẫu nhập
                                            liệu
                                        </span>
                                    </a>
                                </div>
                            </div>
                            @*<div class="list-button list-button-last mt-3">
                                    <p> <u>Chú ý</u>: Khi import hệ thống sẽ không import những dòng trên excel có số lượng = 0 và những mặt hàng nào bị trùng hệ thống sẽ tự động tăng số lượng </p>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-ghi-import-vitrimathang" type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade default-popup popup-them-so-du-quy" data-keyboard="true" data-backdrop="static" id="them-vi-tri"
     tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">
                    Vị trí mặt hàng
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="default-form">
                                <div class="form-group">
                                    <label for="">Mặt hàng</label>
                                    <select id="vt-mathang" name="vt-mathang" class="col-7 p-0">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Vị trí KH</label>
                                    <input name="txt-vitri1" class="col-7 p-0" />
                                    @*<select name="vt1" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 1-</option>
                                        </select>*@
                                </div>
                                <div class="form-group">
                                    <label for="">Vị trí CH</label>
                                    <input name="txt-vitri2" class="col-7 p-0" />
                                    @*<select name="vt2" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 2-</option>
                                        </select>*@
                                </div>
                                <div class="form-group">
                                    <label for="">Vị trí DP</label>
                                    <input name="txt-vitri3" class="col-7 p-0" />
                                    @*<select name="vt3" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 3-</option>
                                        </select>*@
                                </div>
                                <div class="form-group">
                                    <label for="">Vị trí 4</label>
                                    <input name="txt-vitri4" class="col-7 p-0" />
                                    @*<select name="vt4" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 4-</option>
                                        </select>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary vitri-add">Lưu</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade default-popup popup-them-so-du-quy" id="sua-vi-tri" data-keyboard="true" data-backdrop="static"
     tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">
                    Vị trí mặt hàng
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="default-form">
                                <div class="form-group">
                                    <label for="">Mặt hàng</label>
                                    <input id="vt-mathang-edit" readonly name="vt-mathang-edit" class="col-7 p-0" />
                                    <input type="hidden" name="vtid-edit" />
                                </div>

                                <div class="form-group">
                                    <label for="">Vị trí KH</label>
                                    <input name="txt-edit-vitri1" class="col-7 p-0" />
                                    @*<select name="vt1-edit" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 1-</option>
                                        </select>*@
                                </div>
                                <div class="form-group">
                                    <label for="">Vị trí CH</label>
                                    <input name="txt-edit-vitri2" class="col-7 p-0" />
                                    @*<select name="vt2-edit" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 2-</option>
                                        </select>*@
                                </div>
                                <div class="form-group">
                                    <label for="">Vị trí DP</label>
                                    <input name="txt-edit-vitri3" class="col-7 p-0" />
                                    @*<select name="vt3-edit" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 3-</option>
                                        </select>*@
                                </div>
                                <div class="form-group">
                                    <label for="">Vị trí 4</label>
                                    <input name="txt-edit-vitri4" class="col-7 p-0" />
                                    @*<select name="vt4-edit" class="col-7 p-0 select-kho-hang">
                                            <option value="0">-Chọn vị trí 4-</option>
                                        </select>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary vitri-edit">Lưu</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script src="~/App_Themes/select2/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[name="chooseDate_From"]').val(moment(new Date()).format('DD/MM/yyyy'));
            $('input[name="chooseDate_To"]').val(moment(new Date()).format('DD/MM/yyyy'));
            let fdate = moment(new Date()).format('DD/MM/yyyy');
            let tdate = moment(new Date()).format('DD/MM/yyyy');
            let tblVitri_filterValues = {};
            $('#table-vitri-mathang thead tr').clone(true).appendTo('#table-vitri-mathang thead');
            $('#table-vitri-mathang thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (i == 0 || i == 7) {
                    return $(this).html('');
                }
                else {
                    $(this).html('<input type="text" placeholder="Search ' + title.trim() + '" data-search-vitri-mathang="' + i + '"/>');
                }
            });
            var table_vitri = $('#table-vitri-mathang').DataTable({
                serverSide: true,
                bFilter: false,
                bInfo: false,
                "order": [[7, "desc"]],
                ajax: function (data, callback, settings) {
                    tblVitri_filterValues.draw = data.draw;
                    tblVitri_filterValues.search = data.search["value"];
                    tblVitri_filterValues.fdate = fdate;
                    tblVitri_filterValues.tdate = tdate;
                    tblVitri_filterValues.start = data.start;
                    tblVitri_filterValues.length = data.length;
                    tblVitri_filterValues.order = data.order[0].column;
                    tblVitri_filterValues.dir = data.order[0].dir;

                    tblVitri_filterValues.search1 = $('input[data-search-vitri-mathang=1]').val();
                    tblVitri_filterValues.search2 = $('input[data-search-vitri-mathang=2]').val();
                    tblVitri_filterValues.search3 = $('input[data-search-vitri-mathang=3]').val();
                    tblVitri_filterValues.search4 = $('input[data-search-vitri-mathang=4]').val();
                    tblVitri_filterValues.search5 = $('input[data-search-vitri-mathang=5]').val();
                    tblVitri_filterValues.search6 = $('input[data-search-vitri-mathang=6]').val();

                    $.ajax({
                        url: '/ViTriMatHang/LoadViTri',
                        method: 'GET',
                        data: tblVitri_filterValues,
                        success: function (msg) {
                            console.log(msg.data);
                            if (msg.status == 2) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                return false;
                            } else if (msg.status == 3) {
                                if (tblVitri_filterValues.draw != 1) {
                                    toast.create({
                                        title: 'Notification!',
                                        text: msg.message,
                                        icon: 'error_outline',
                                        classBackground: 'noti-error',
                                        timeout: 3000
                                    });
                                    location.reload();
                                    return false;
                                }
                            }
                        },
                    }).done(callback, () => {

                    });
                },
                columns: [
                    { "data": null },
                    { "data": "MHCODE" },
                    { "data": "MHTEN" },
                    { "data": "VITRI1" },
                    { "data": "VITRI2" },
                    { "data": "VITRI3" },
                    { "data": "VITRI4" },
                    { "data": "NgaySua" }
                ],
                fnCreatedRow: function (nRow, data, iDataIndex) {
                    $(nRow).attr('data-id', data.VTID);

                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var info = $(this).DataTable().page.info();
                    $("td:nth-child(1)", nRow).html(info.start + iDisplayIndex + 1);
                    return nRow;
                },
                scroller: {
                    loadingIndicator: true,
                    displayBuffer: 15
                },
                // scrollY: '300px',
                scrollResize: true,
                scrollY: 100,
                scrollCollapse: true,
                bInfo: false,
                paging: true,
                searching: true,
                pageLength: 5,
                lengthChange: false,
                orderCellsTop: true
            });

            $(table_vitri.table().container()).on('keyup change', 'thead input', delay(function (e) {
                table_vitri.draw();
            }, 1000));

            //Search ngày -> ngày
            $('#btn-search-vitri').click(function () {
                fdate = $('#date-vitri input[name="chooseDate_From"]').val();
                tdate = $('#date-vitri input[name="chooseDate_To"]').val();
                table_vitri.columns.adjust().draw();
            });

            //Click
            $(document).on('click', '#table-vitri-mathang tbody tr', function () {
                $(this).addClass('selected');
                $('#table-vitri-mathang tbody tr').not(this).removeClass('selected');
            });

            //Double Click
            $(document).on('dblclick', '#table-vitri-mathang tbody tr', async function () {
                $(this).addClass('selected');
                $('#table-vitri-mathang tbody tr').not(this).removeClass('selected');
                let id = $(this).attr('data-id');
                $.ajax({
                    async: false,
                    type: 'GET',
                    url: '/ViTriMatHang/LoadViTriInfo?vtid=' + id + '',
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.status == 1) {
                            if (msg.data.length <= 0) {
                                toast.create({
                                    title: 'Notification!',
                                    text: 'Không tìm thấy sản phẩm',
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                })
                            } else {
                                $('input[name="vtid-edit"]').val(msg.data[0].VTID);
                                $('input[name="vt-mathang-edit"]').val(msg.data[0].MHCODE + ' - ' + msg.data[0].MHTEN);
                                $('input[name="txt-edit-vitri1"]').val(msg.data[0].VITRI1);
                                $('input[name="txt-edit-vitri2"]').val(msg.data[0].VITRI2);
                                $('input[name="txt-edit-vitri3"]').val(msg.data[0].VITRI3);
                                $('input[name="txt-edit-vitri4"]').val(msg.data[0].VITRI4);
                                $('#sua-vi-tri').modal();
                            }
                        } else if (msg.status == 2) {
                            toast.create({
                                title: 'Notification!',
                                text: msg.message,
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            })
                        } else {
                            if (msg.draw != 1) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                location.reload();
                                return false;
                            }
                        }
                    },
                    error: function (error) {
                        console.log('e');
                    }
                });
            });

            //Save (Insert)
            $('.vitri-add').click(function () {
                let data = new FormData();
                let mh = $('select[name="vt-mathang"]').val();

                if (mh == '' || mh == undefined || mh == null) {
                    toast.create({
                        title: 'Notification!',
                        text: 'Vui lòng chọn mặt hàng',
                        icon: 'error_outline',
                        classBackground: 'noti-error',
                        timeout: 3000
                    })
                    return false;
                }
                data.append("mhid", $('select[name="vt-mathang"]').val());

                let vt1 = $('input[name="txt-vitri1"]').val();
                let vt2 = $('input[name="txt-vitri2"]').val();
                let vt3 = $('input[name="txt-vitri3"]').val();
                let vt4 = $('input[name="txt-vitri4"]').val();
                if (vt1 == "" && vt2 == "" && vt3 == "" && vt4 == "") {
                    toast.create({
                        title: 'Notification!',
                        text: 'Vui lòng chọn vị trí 1 cho mặt hàng',
                        icon: 'error_outline',
                        classBackground: 'noti-error',
                        timeout: 3000
                    })
                    return false;
                }
                data.append("vt1", $('input[name="txt-vitri1"]').val());
                data.append("vt2", $('input[name="txt-vitri2"]').val());
                data.append("vt3", $('input[name="txt-vitri3"]').val());
                data.append("vt4", $('input[name="txt-vitri4"]').val());

                $.ajax({
                    async: false,
                    type: 'POST',
                    url: '/ViTriMatHang/InsertViTri',
                    data: data,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (msg) {
                        if (msg.status == 1) {
                            table_vitri.draw();
                            $('#them-vi-tri').modal('hide');
                            toast.create({
                                title: 'Notification!',
                                text: 'Thành công',
                                icon: 'check',
                                classBackground: 'noti-success',
                                timeout: 3000
                            })
                        } else if (msg.status == 2) {
                            toast.create({
                                title: 'Notification!',
                                text: msg.message,
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            })
                        } else {
                            if (msg.draw != 1) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                location.reload();
                                return false;
                            }
                        }
                    },
                    error: function (error) {
                        console.log('e');
                    }
                });
            });

            //Update
            $('.vi-tri-btn-edit').click(function () {
                let id = $('#table-vitri-mathang tbody tr.selected').attr('data-id');
                if (id == undefined) {
                    toast.create({
                        title: 'Notification!',
                        text: 'Vui lòng chọn vị trí',
                        icon: 'error_outline',
                        classBackground: 'noti-error',
                        timeout: 3000
                    });
                    return false;
                }
                $.ajax({
                    async: false,
                    type: 'GET',
                    url: '/ViTriMatHang/LoadViTriInfo?vtid=' + id + '',
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.status == 1) {
                            if (msg.data.length <= 0) {
                                toast.create({
                                    title: 'Notification!',
                                    text: 'Không tìm thấy sản phẩm',
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                })
                            } else {
                                $('input[name="vtid-edit"]').val(msg.data[0].VTID);
                                $('input[name="vt-mathang-edit"]').val(msg.data[0].MHCODE + ' - ' + msg.data[0].MHTEN);

                                $('input[name="txt-edit-vitri1"]').val(msg.data[0].VITRI1);
                                $('input[name="txt-edit-vitri2"]').val(msg.data[0].VITRI2);
                                $('input[name="txt-edit-vitri3"]').val(msg.data[0].VITRI3);
                                $('input[name="txt-edit-vitri4"]').val(msg.data[0].VITRI4);
                                $('#sua-vi-tri').modal();
                            }
                        } else if (msg.status == 2) {
                            toast.create({
                                title: 'Notification!',
                                text: msg.message,
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            })
                        } else {
                            if (msg.draw != 1) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                location.reload();
                                return false;
                            }
                        }
                    },
                    error: function (error) {
                        console.log('e');
                    }
                });


            });

            //Delete
            $('.vi-tri-btn-delete').click(function () {
                let $this = $('#table-vitri-mathang tbody tr.selected');

                let id = $('#table-vitri-mathang tbody tr.selected').attr('data-id');
                if (id == undefined) {
                    toast.create({
                        title: 'Notification!',
                        text: 'Vui lòng chọn vị trí',
                        icon: 'error_outline',
                        classBackground: 'noti-error',
                        timeout: 3000
                    });
                    return false;
                }
                if (confirm('Bạn có muốn xóa mặt hàng này?')) {
                    $.ajax({
                        async: false,
                        type: 'POST',
                        url: '/ViTriMatHang/DeleteVitri?vtid=' + id + '',
                        dataType: 'json',
                        success: function (msg) {
                            if (msg.status == 1) {
                                table_vitri.ajax.reload();
                                toast.create({
                                    title: 'Notification!',
                                    text: 'Thành công',
                                    icon: 'check',
                                    classBackground: 'noti-success',
                                    timeout: 3000
                                });
                            } else if (msg.status == 2) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                })
                            } else {
                                if (msg.draw != 1) {
                                    toast.create({
                                        title: 'Notification!',
                                        text: msg.message,
                                        icon: 'error_outline',
                                        classBackground: 'noti-error',
                                        timeout: 3000
                                    });
                                    location.reload();
                                    return false;
                                }
                            }
                        },
                        error: function (error) {
                            console.log('e');
                        }
                    });

                }
            });

            //Reset
            $('.vi-tri-refresh').click(function () {
                table_vitri.draw();
            });

            //Export
            $('.vi-tri-btn-export').click(function () {
                let link = window.location.origin;
                link = link + "/ViTriMatHang/ViTriExport?" + serialize(tblVitri_filterValues) + ``;
                window.open(link);
            });

            //#region Select2 mặt hàng
            let tbMatHang_filterValues = {};
            tbMatHang_filterValues.draw = 1;
            tbMatHang_filterValues.loai = 0;
            tbMatHang_filterValues.start = 0;
            tbMatHang_filterValues.length = 50;
            tbMatHang_filterValues.order = 0;
            tbMatHang_filterValues.dir = 0;
            $("#vt-mathang").select2({
                ajax: {
                    url: "/MatHang/LoadMatHangSelect2",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            start: (params.page || 0) * 50,
                            length: 50,
                            page: params.page
                        }
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data, params) {
                        var select2Data = $.map(data.data, function (obj) {
                            obj.text = obj.text + " - " + obj.MHTEN;
                            return obj;
                        });
                        return {
                            results: select2Data,
                            pagination: {
                                more: ((params.page + 1) * 50) < data.recordsTotal
                            }
                        };
                    },
                    cache: true
                },
                placeholder: 'Nhập mã mặt hàng / tên mặt hàng',
                minimumInputLength: 1,
                templateResult: formatRepo,
                dropdownParent: $('#them-vi-tri')
            });

            function formatRepo(repo) {
                if (repo.loading) {
                    return repo.text;
                }
                var $container = $(
                    "<div class='select2-result-repository clearfix'>" + repo.text +
                    "</div>"
                );
                return $container;
            }
            //#endregion

            ////#region Select2 kho hàng
            //$(function () {
            //    $.ajax({
            //        async: true,
            //        type: "GET",
            //        url: "/ViTriMatHang/Kho",
            //        dataType: "json",
            //        success: function (json) {
            //            $('.select-kho-hang').select2({
            //                data: json
            //            });
            //        },

            //        error: function (xhr, ajaxOptions, thrownError) {
            //            alert(xhr.status);
            //            alert(thrownError);
            //        }
            //    });
            //});

            //$('#them-vi-tri').on('shown.bs.modal', function () {
            //    $('.select-kho-hang').select2({
            //        dropdownParent: $('#them-vi-tri')
            //    });
            //});
            //$('#sua-vi-tri').on('shown.bs.modal', function () {
            //    $('.select-kho-hang').select2({
            //        dropdownParent: $('#sua-vi-tri')
            //    });
            //});

            ////#endregion

            //Save (Update)
            $('.vitri-edit').click(function () {
                let data = new FormData();
                let id = $('input[name="vtid-edit"]').val();
                data.append("vtid", id);
                data.append("vt1", $('input[name="txt-edit-vitri1"]').val());
                data.append("vt2", $('input[name="txt-edit-vitri2"]').val());
                data.append("vt3", $('input[name="txt-edit-vitri3"]').val());
                data.append("vt4", $('input[name="txt-edit-vitri4"]').val());
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: '/ViTriMatHang/UpdateViTri',
                    data: data,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (msg) {
                        if (msg.status == 1) {
                            table_vitri.ajax.reload();
                            $('#sua-vi-tri').modal('hide');
                            $('input[name="vtid-edit"]').val('');
                            toast.create({
                                title: 'Notification!',
                                text: 'Thành công',
                                icon: 'check',
                                classBackground: 'noti-success',
                                timeout: 3000
                            })
                        } else if (msg.status == 2) {
                            toast.create({
                                title: 'Notification!',
                                text: msg.message,
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            })
                        } else {
                            if (msg.draw != 1) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                location.reload();
                                return false;
                            }
                        }
                    },
                    error: function (error) {
                        console.log('e');
                    }
                });
            });

            var objmathangimport = [];

            $("#import-vitrimathang").click(function () {
                $.ajax({
                    method: "GET",
                    url: "/ViTriMatHang/CheckRoleXuatViTriMatHang",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.status == 1) {
                            $('#btn-nhap-vitrimathang').modal();
                        }
                        else if (msg.status == 2) {
                            toast.create({
                                title: 'Notification!',
                                text: msg.message,
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            });
                        }
                        else if (msg.status == 3) {
                            toast.create({
                                title: 'Notification!',
                                text: msg.message,
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            });
                            location.reload();
                        }
                    }
                })
            })

            $("#btn-nhap-vitrimathang").on('shown.bs.modal', function () {
                $("#btn-ghi-import-vitrimathang").prop('disabled', true);
                tbViTriMatHangImport.columns.adjust().draw();
            })
            $('#btn-nhap-vitrimathang').on('hidden.bs.modal', function (e) {
                objmathangimport = [];
                tbViTriMatHangImport.clear();
                tbViTriMatHangImport.rows.add(objmathangimport);
                tbViTriMatHangImport.columns.adjust().draw();
                $("#FileUploadViTriMatHang").val('');
            })
            $("#btn-ghi-import-vitrimathang").click(function () {
                console.log(objmathangimport);
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: '/ViTriMatHang/ImportInsertViTri',
                    data: JSON.stringify(objmathangimport),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        if (msg.status == 1) {
                            table_vitri.draw();
                            $("#btn-nhap-vitrimathang").modal('hide');
                            toast.create({
                                title: 'Notification!',
                                text: 'Thành công',
                                icon: 'check',
                                classBackground: 'noti-success',
                                timeout: 3000
                            })
                        } else if (msg.status == 2) {
                            toast.create({
                                title: 'Notification!',
                                text: msg.message,
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            })
                        } else if (msg.status == 3) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                location.reload();
                            }
                    },
                    error: function (error) {
                        console.log('e');
                    }
                });
            })
            // Nút Tạo Excel nhập liệu
            $('#btn-create-file-excel').on('click', function () {
                var link = `/ViTriMatHang/CreateViTriExcel`
                window.open(link)
            })


            $("#btnFileUploadViTriMatHang").click(function () {
                $("#FileUploadViTriMatHang").click();
            })
            $("#FileUploadViTriMatHang").change(function (event) {
                let input, files;
                input = event.target;
                files = input.files;
                Array.from(files).map((file, index) => {
                    console.log(file);
                    var formdata = new FormData();
                    formdata.append('fileupload', file);
                    $.ajax({
                        async: false,
                        type: 'POST',
                        url: '/ViTriMatHang/Import',
                        data: formdata,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (msg) {
                            console.log(msg.data);
                            if (msg.status == 1) {
                                objmathangimport = msg.data;
                                tbViTriMatHangImport.clear();
                                tbViTriMatHangImport.rows.add(objmathangimport);
                                tbViTriMatHangImport.columns.adjust().draw();
                                $("#btn-ghi-import-vitrimathang").prop('disabled', false);
                            }
                            else if (msg.status == 2) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                $("#FileUploadViTriMatHang").val('');
                            }
                            else if (msg.status == 3) {
                                toast.create({
                                    title: 'Notification!',
                                    text: msg.message,
                                    icon: 'error_outline',
                                    classBackground: 'noti-error',
                                    timeout: 3000
                                });
                                location.reload();
                            }
                        },
                        error: function (error) {
                            toast.create({
                                title: 'Notification!',
                                text: 'Không thành công, vui lòng kiểm tra file import và thử lại',
                                icon: 'error_outline',
                                classBackground: 'noti-error',
                                timeout: 3000
                            });
                            $("#FileUploadViTriMatHang").val('');
                        }
                    });
                })
            })
            var objmathangimport = [];
            var tbViTriMatHangImport = $('#table-import-vitrimathang').DataTable({
                bFilter: false,
                bInfo: false,
                data: objmathangimport,
                select: true,
                fnCreatedRow: function (nRow, data, iDataIndex) {
                    $(nRow).attr('data-id', data.MHID);
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var info = $(this).DataTable().page.info();
                    $("td:nth-child(1)", nRow).html(info.start + iDisplayIndex + 1);
                    return nRow;
                },
                columns: [
                    { data: null },
                    { data: "MHCODE" },
                    { data: "ViTri1" },
                    { data: "ViTri2" },
                    { data: "ViTri3" },
                    { data: "ViTri4" },
                ],
                scrollX: true,
                scrollResize: true,
                scrollY: 100,
                scrollCollapse: true,
                searching: "true",
                paging: true,
                scroller: {
                    loadingIndicator: true,
                    displayBuffer: 200,
                },
                'lengthChange': false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var total = data.length;
                    if (total > 0) {
                        ////update footer
                        $(api.column(0).footer()).html(total);
                    }
                    else {
                        $(api.column(0).footer()).html("0");
                    }
                }
            });
        });
        serialize = function (obj) {
            var str = [];
            for (var p in obj)
                if (obj.hasOwnProperty(p)) {
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
            return str.join("&");
        }
        function delay(fn, ms) {
            let timer = 0
            return function (...args) {
                clearTimeout(timer)
                timer = setTimeout(fn.bind(this, ...args), ms || 0)
            }
        }


      
    </script>
}
