
@{
    ViewBag.Title = "LoadBanMHBAOCAO";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<style>
    @@media only screen and (min-width:768px) and (max-width: 1024px) {
        .sidebar-search {
            width: 180px;
        }

        .custom2 {
            padding-left: 15%;
        }
    }

    @@media only screen and (min-width:1024px) and (max-width: 1439px) {
        .sidebar-search {
            width: 180px;
        }

        .custom2 {
            padding-left: 6%;
        }
    }
    .disabled-dia-chi {
        pointer-events: none;
        opacity: 0.4;
    }
    #chinhanh tr td:nth-child(1) {
        white-space: pre-wrap
    }
    .baocao-bhmh tbody tr.selected td:nth-child(4) {
        color: #ffffff;
    }
    .baocao-bhmh tbody tr td:nth-child(4) {
        color: cornflowerblue;
    }
    .baocao-bhmh tbody tr.selected td:nth-child(5) {
        color: #ffffff;
    }

    .baocao-bhmh tbody tr td:nth-child(5) {
        color: cornflowerblue;
    }
    .baocao-bhmh tbody tr.selected td:nth-child(6) {
        color: #ffffff;
    }

    .baocao-bhmh tbody tr td:nth-child(6) {
        color: cornflowerblue;
    }
    .baocao-bhmh tbody tr.selected td:nth-child(7) {
        color: #ffffff;
    }

    .baocao-bhmh tbody tr td:nth-child(7) {
        color: red;
    }
</style>
<main class="wrapper bg-white">
    <div class="container-fluid mt-4 wrap-table-2">
        <div class="row mt-4">
            <div class="col-md-2">
                <div class="box-border sidebar-search">
                    <p class="box-border__title">Tiêu chí tìm kiếm</p>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab"
                               href="#grid">Grid</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#tree">
                                Tree
                            </a>
                        </li>
                    </ul>

                    <div class="box-border mt-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pl-0 pr-1">
                                    <p>Từ ngày</p>
                                    <input type="text" class="datepicker datetimepicker date-only choose-date w-100" name="txt-tungay">
                                </div>
                                <div class="col-md-6 pr-0 pl-1">
                                    <p>Đến ngày</p>
                                    <input type="text" class="datepicker datetimepicker date-only choose-date w-100" name="txt-denngay">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-border mt-4 mb-3">
                        <label class="form-check-label ml-2
                                box-border__title text-dark">
                            <input type="checkbox"
                                   class="form-check-input" value=""><span class="ml-2">
                                <b>Nhóm hàng</b>
                            </span>
                        </label>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 pl-0 pr-1">
                                    <span>Tất cả</span>
                                    <input type="radio" name="NhomHang" id="checkAll" value="0" checked>
                                </div>
                                <div class="col-md-6 pr-0 pl-1">
                                    <span>Chọn nhóm</span>
                                    <input type="radio" name="NhomHang" id="checkChoose" value="1">
                                </div>
                                <div class="col-md-2 pr-0 pl-1 dropdown" id="dropdown-tree-mathang" style="display:none;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="box-dia-chi box-info" id="nhomHang">
                                            <div class="content mt-2" id="jstree"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="grid">
                            <div class="box-border mt-3">
                                <table class="table w-100 table-a" id="tbl-chinhanh">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input name="check-all-cn" type="checkbox">
                                            </th>
                                            <th>Chi nhánh</th>
                                        </tr>
                                    </thead>
                                    <tbody id="chinhanh">
                                    </tbody>
                                </table>

                                <table class="table w-100 mt-5 table-a">
                                    <thead>
                                        <tr>
                                            <th>Chọn</th>
                                            <th>Mã kho</th>
                                        </tr>
                                    </thead>
                                    <tbody id="kho">
                                    </tbody>
                                </table>

                                <div class="form-check-inline mt-2">
                                    <label class="form-check-label">
                                        <input name="check-all-k" type="checkbox"
                                               class="form-check-input
                                        inline"
                                               value=""><span class="inline">
                                            Chọn
                                            tất
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="tree">...</div>
                    </div>

                    <!-- Tính lợi nhuận có thêm hoa hồng -->
                    <div class="box-border mt-5">
                        <label class="form-check-label ml-2
                        box-border__title text-dark">
                            <input type="checkbox" class="form-check-input"
                                   value=""><span class="ml-2" style="font-size:
                            1.2rem;">Thêm hoa hồng</span>
                        </label>
                        <p>Số tiền hoa hồng</p>
                        <input type="text" class="w-100" name="txt-hoahong" id="txt-hoahong" data-type="currency" maxlength="11">
                    </div>

                    <div class="list-button mt-3">
                        <a href="#" class="btn btn-search d-block" id="btn-search-baocao">
                            <img src="/App_Themes/assets/images/btn-search.png"
                                 alt="" class="inline"><span class="inline">
                                Tìm
                                kiếm
                            </span>
                        </a>

                        <a href="#" class="btn btn-export mt-1
                        d-block" id="btn-baocao-xuat">
                            <img src="/App_Themes/assets/images/btn-export.png"
                                 alt="" class="inline"><span class="inline">Xuất</span>
                        </a>
                        <a href="#" class="btn btn-print mt-1
                        d-block" id="btn-baocao-in">
                            <img src="/App_Themes/assets/images/btn-print.png"
                                 alt="" class="inline"><span class="inline">In</span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-10 pl-0 baocao-bhmh">
                <div class="content wrap-height-table custom2">
                    <p class="title-head">Nội dung 1</p>
                    <table class="display table table-striped"
                           style="width: 100%;"
                           id="table-baocao-bhmh">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng</th>
                                <th>SL bán</th>
                                <th>Doanh thu</th>
                                <th>Tổng vốn</th>
                                <th>Lợi nhuận</th>
                                <th>Lợi nhuận đơn vị</th>
                                <th>Tỉ số lợi nhuận trên doanh thu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr align="right">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
@section MYscripts{
    <script src="~/PageScript/BanHang/baocaobanhangmh.js"></script>
}
